.game {
  height: 100vh;
  margin: 0 auto;
  padding: 20px 50px;
  background-color: #38bdf8;
}

.title {
  margin-bottom: 50px;
}

.container {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
